<div class="container">
  <span>
    商品一覧
  </span>


<%= link_to '最新', products_path(latest: true) %>

<%= link_to '価格が高い順', products_path(price_high_to_low: true) %>

<%= link_to '価格が低い順', products_path(price_low_to_high: true) %>

<% @product.each do |product| %>
  <%= link_to products_path(product) do %>
    <p><%= product.name %></p>
    <span><%= number_to_currency(producr.price, unit: "¥", strip_insignificant_zeros: true) %></span>
      
    <% if product.stock > 0 %>
      <span>In Stock Now</span>
    <% else %>
      <span>Out of Stock</span>
    <% end %>
  <% end %>
<% end %>
</div>