<div class="container">
  <div class="row">
    <div class="col-2">
     <table class="genre-table table table-bordered table-hover">
      <thead class="genre-thead">
        <tr>
          <th class="active">ジャンル検索</th>
        </tr>
      </thead>
    
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to products_path(genre_name: genre.genre_name) do %>
                <%= genre.genre_name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
     </table>

    </div>

    <div class="col-10">
      <span>
        <h3 class="product-title">
          <strong>
            <% if params[:genre_id] %>
              <%= @genre.name %>
            <% else %>
              商品一覧
            <% end %>
          </strong>
        </h3>
       全<%= @products.count %>件
      </span>

      <div>
        <%= link_to '最新', products_path(all: true) %> |
        <%= link_to '価格が高い順', products_path(no_tax_high_to_low: "true") %> |
        <%= link_to '価格が低い順', products_path(no_tax_low_to_high: "true") %> 
      </div>

      <div class="row mt-3">
        <% @products.each do |product| %>
          <div class="col">
            <%= link_to product_path(product.id) do %>
            <%= image_tag product.get_image, size: "200x150" %><br>
            <%= product.product_name %><br>
            <% end %>
            ¥<%= product.no_tax %>(税抜)
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>