<div class="container">

  <div class="row">
    <div class="col-3">
      ジャンル検索
    </div>
    
    <div class="col-6">
      <h1 class="product-title">
        <% if params[:genre_id] %>
          <%= @genre.name %>
        <% else %>
          すべての商品
        <% end %>
      </h1>
      <span>
       全<%= @products.count %>件
      </span>
    
      <div>
        <%= link_to '最新', products_path(all: true) %>
        <%= link_to '価格が高い順', products_path(no_tax_high_to_low: true) %>
        <%= link_to '価格が低い順', products_path(no_tax_low_to_high: true) %>
      </div>
      
      <table>
        <% @products.each do |product| %>
        <tr class="d-flex-row flex-nowrap">
          <td>
            <%= link_to product_path(product.id) do %>
              <%= image_tag product.get_image, size: "150x150" %><br>
              <%= product.product_name %><br>
              ¥<%= product.no_tax %>(税抜)
            <% end %>
          </td>
        </tr>  
        <% end %>
      </table>
    </div>
  </div>

</div>