<div class="container">
  <h3><%= @customer.last_name + @customer.first_name %>の会員情報編集</h3>

  <table>
    <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
    <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
     <tr>
      <th>氏名</th>
        <td><%= f.text_field :last_name, autofoucus: true %></td>
        <td><%= f.text_field :first_name, autofoucus: true %></td>
      </tr>
      <tr>
      <th>フリガナ</th>
        <td><%= f.text_field :last_name_kana, autofoucus: true %></td>
        <td><%= f.text_field :first_name_kana, autofaucus: true %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :post_code,autofoucus: true %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :city, autofaucus: true %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :telephone, autofoucus: true %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email, autofoucus: true %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.updated_at == nil %>
				    	<label><%= f.radio_button :updated_at,  {value: ""}, {checked: true} %>有効</label>
				 		<label><%= f.radio_button :updated_at, value: Time.now %>退会</label>
				 	<% else %>
				 		<label><%= f.radio_button :updated_at,  value: "" %>有効</label>
				 		<label><%= f.radio_button :updated_at, {value: Time.now}, {checked: true} %>退会</label>
				 	<% end %>
        </td>
      </tr>
      <tr>
        <td><%= f.submit "変更を保存" %></td>
      </tr>
      <% end %>
  </table>
</div>