<!DOCTYPE html>
<html>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><%= @customer_order.last_name + @customer_order.first_name %>さんの注文履歴</h1>
      </div>
     </div>
     <div class ="row">
      <div class ="col">
       <table class ="table">
         <thead>
           <tr>
             <th class="table-active">購入日時</th>
             <th class="table-active">注文個数</th>
             <th class="table-active">注文ステータス</th>
           </tr>
         </thead>
         <tbody>
           <% @customer_orders.each do |customer_order| %>
           <tr>
             <td>
               <%= link_to admin_order_path(customer_order) do %>
               <%= l customer_order.created_at %>
               <% end %>
             </td>
             <td><%= customer_order.order_details.sum(:amount) %></td>
             <td><%= customer_order.order_status_i18n %></td>
           </tr>
           <% end %>
           <%= paginate @customer_orders %>
         </tbody>
       </table>
      </div>
    </div>

  </div>
</html>