<!DOCTYPE html>
<html>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>注文履歴一覧</h1>
      </div>
     </div>
     <div class ="row">
      <div class ="col">
       <table class ="table">
         <thead>
           <tr>
             <th class="table-active">購入日時</th>
             <th class="table-active">購入者</th>
             <th class="table-active">注文個数</th>
             <th class="table-active">注文ステータス</th>
           </tr>
         </thead>
         <tbody>
           <% @orders.each do |order| %>
           <tr>
             <td>
               <%= link_to admin_order_path(order) do %>
               <%= l order.created_at %>
               <% end %>
             </td>
             <td><%= order.customer_name %></td>
             <td><%= order.order_details.sum(:amount) %></td>
             <td><%= order.order_status_i18n %></td>
           </tr>
           <% end %>
           
         </tbody>
       </table>
      </div>
    </div>
  </div>
</html>