<!DOCTYPE html>
<html>
  <div class="container">
<<<<<<< HEAD
    <div class="col">
      <h3 class="">ショッピングカート</h3>
      <div class="text-right mb-2">
      <%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
      <table class ="table cart-table table-hover table-inverse table-bordered">
=======
    <div class="row">
      <div class="col-10">
        <h1>ショッピングカート</h1>
      </div>
      <div class ="col-2">
        <%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, class:"btn btn-danger" %>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
       <table class ="table table-bordered">
>>>>>>> develop
        <thead>
          <tr>
            <th class="table-active">商品名</th>
            <th class="table-active">単価(税込)</th>
            <th class="table-active">数量</th>
            <th class="table-active"> 小計</th>
            <th class="table-active"></th>
          </tr>
        </thead>
        <tbody>
          <% @carts.each do |cart| %>
          <tr>
            <td>
              <%= image_tag cart.product.image, size: "200x150" %>
              <%= cart.product.product_name %>
            </td>
            <td><%= cart.product.with_tax_price %></td>
            <td>
              <%= form_with model: cart, url:cart_path(cart),method: :patch do |f| %>
                <%= f.select :amount,[1,2,3,4,5,6,7,8,9,10],required:true %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= cart.subtotal %></td>
            <td><%= link_to "削除する", cart_path(cart.id, cart), class: "btn btn-danger", method: :delete %></td>
          </tr>
          <% @total += cart.subtotal %>
          <% end %>
        </tbody>
       </table>
      </div>
    </div>
    <div class ="row">
     <div class ="col-8">
       <%= link_to "買い物を続ける",products_path, class:"btn btn-primary" %>
     </div>
     <div class ="col-4">
      <table class ="table table-bordered">
         <tr>
<<<<<<< HEAD
           <td colspan="3"></td>
           <th class="text-right">合計金額</th>
           <td class="text-right"><%= @total %></td>
         </tr>
      </table>
      
      <%= link_to "買い物を続ける",products_path, class: "btn btn-primary" %>
      <div class="text-center">
        <%= link_to "情報入力に進む",new_order_path, class: "btn btn-success  btn-lg" %>
=======
           <th class="table-active">合計金額</th>
           <td><%= @total %></td>
         </tr>
      </table>
     </div>
    </div>
    <div class ="row">
      <div class ="col offset-md-5">
        <%= link_to "情報入力に進む",new_order_path, class:"btn btn-success" %>
>>>>>>> develop
      </div>
    </div>
  </div>
</html>