<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>会員情報編集</h2>
    </div>
  </div>
  <%= render "public/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!--名前＋（フリガナ）の編集-->
    <div class="row">
      <div class="col-2 offset-md-1"><%= f.label "お名前" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(姓)" %></div>
      <div class="col-2"><%= f.text_field :last_name, :size => "10" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(名)" %></div>
      <div class="col-3"><%= f.text_field :first_name, :size => "10" %></div>
    </div>
    <div class="row">
      <div class="col-2 offset-md-1"><%= f.label "フリガナ" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(セイ)" %></div>
      <div class="col-2"><%= f.text_field :last_name_kana, :size => "10" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(メイ)" %></div>
      <div class="col-3"><%= f.text_field :first_name_kana, :size => "10" %></div>
    </div>
<!--郵便番号変更-->    
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "郵便番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :post_code, :size => "15" %></div>
    </div>
<!--住所変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
      <div class="col-3"><%= f.text_field :city, :size => "30"%></div>
    </div>
<!--電話番号変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "電話番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :telephone %></div>
    </div>
<!--メールアドレス変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "20" %></div>
      <%= f.submit "編集内容を保存", class:"btn btn-success my-4" %>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1">
    <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger" %>
    <%= link_to "Back", :back, class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
