<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>商品編集</h2>
    </div>
  </div>
   <div class="row">  
   <%= form_with model: @product, url: admin_product_path, local: true do |f| %>
   <h2><strong><%= @product.name %></strong></h2>
      <h4><%= simple_format(@product.description)%></h4>
      <%  if @product.sales_status == true %>
        <p class="text-success">販売中</p>
        <h3>¥ <%= no_tax( @product.no_tax) %> (税込)</h3>
      <% else %>
        <h3 class="text-danger">販売停止中です</h3>
      <% end %>
      <%= link_to "編集する", edit_admin_product_path %>
      </div> 
  </div>
</div>