<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>商品一覧</h2>
    </div>
    <div class="col-sm-2 px-sm-0" >
        <%= link_to new_admin_product_path do %>
<<<<<<< HEAD
        <i class="fas fa-wrench"></i>商品追加
=======
        <i class="fas fa-plus-circle"></i>商品追加
>>>>>>> origin/develop
        <% end %>
    </div>
    <div class="row">
        <div class"col-sm-2 px-sm-0">
            <table class= "table text-center admin-products">
                <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名</th>
                        <th>税抜価格</th>
                        <th>ジャンル</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <% @products.each do |product| %>
                <tbody>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= link_to admin_product_path(product.id) do %>
                        <u><%= product.product_name %></u>
                        </td>
                        <% end %>
                        <td><%= product.no_tax %></td>
                        <td><%= product.genre.genre_name %></td>
                        <td>
                        <% if product.sale_status == true %>
                        <p class="text-success font-weight-bold">販売中</p>
                        <% else %>
                        <p class="text-danger font-weight-bold">販売停止中</p>
                        <% end %>
                    </tr>
                </tbody>
                <% end %>
            </table>
        </div>
        <%= paginate @products %>

    </div>
