<div class='container'>

  <h2>注文情報確認</h2>
  <div class='row'>

    <div class='col-md-8'>

        <table class="table table-hover table-inverse table-bordered">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>

          <% @cart_products.each do |cart| %>
          <tbody>
            <tr>
              <!-- 商品名 -->
              <th>
                <%= image_tag cart.product.image, size:'50x50' %>
                <%= cart.product.product_name %>
              </th>

              <!-- 金額 -->
              <th><%= (cart.product.with_tax_price).to_s(:delimited) %></th>

              <!-- 個数 -->
              <th><%= cart.amount %></th>

              <!-- 小計 -->
              <th><%= (cart.product.with_tax_price*cart.amount).to_s(:delimited) %></th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class='col-md-3'>
      <table class="table table-hover table-inverse table-bordered">

        <tr>
          <th>商品合計</th>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>

        <tr>
          <th>送料</th>
          <td><%= @order.shipping_fee %></td>
        </tr>

        <tr>
          <th>請求金額</th>
          <td><%= @billing_amount.to_s %> <!-- お買い物の合計金額 --></td>
        </tr>

      </table>
    </div>

    <div class='col-md-3'>

      <div>
        <span class="font-weight-bold">支払方法</span>
        <%= @order.payment_method_i18n %>
      </div>

      <div>
        <span class="font-weight-bold">お届け先</span>
        〒<%= @order.post_code %>
        <%= @order.address %>
        <%= @order.customer_name %>
      </div>

      <!-- ユーザーには注文確定ボタンだけ表示 -->
      <%= form_with model: @order, local: true do |f| %>
        <%= f.hidden_field :payment_method, value: @order.payment_method %>
        <%= f.hidden_field :post_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :customer_name %>
        <%= f.hidden_field :shipping_cost, value: @total %>
        <%= f.submit "注文を確定する" %>
      <% end %>
    </div>
  </div>
</div>