<div class='container'>
  <h2>注文情報入力</h2>
  <div class='row'>

    <!-- @order でラジオボタンを使って情報を送る -->
    <%= form_with model: @order, url: order_check_path, local: true do |f| %>

    <h4>支払方法</h4>
    <!-- クレジットカードで支払う場合 -->
    <div>
      <%= f.radio_button :payment_method, :credit_card, {:checked => true} %> <!-- payment_number と定義して1～2の番号を check に送ります -->
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <!-- 銀行振込の場合 -->
    <div>
      <%= f.radio_button :payment_method, :bank_transfer %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:bank_transfer] %>
    </div>



    <h4>お届け先</h4>

    <!-- 顧客の住所の場合 -->
    <div>
      <%= f.radio_button :address_number, 1, {:checked => true} %><!-- address_number と定義して1～3の番号を check に送ります -->
      <%= f.label :address_number_1, "ご自身の住所" %><br>
      <!--郵便番号-->
      〒<%= current_customer.post_code %>
      <!--住所-->
      <%= current_customer.city %><br>
      <!--名前-->
      <%= current_customer.last_name %>
      <%= current_customer.first_name %>
    </div><br>
    <!--登録済みの住所から選ぶ場合-->
    <div>
      <%= f.radio_button :address_number, 2 %>
      <%= f.label :address_number_2, "登録済み住所から選択" %><br>
      <!--配送先住所一覧-->

      <%= f.select :registered, options_from_collection_for_select(@current_address, :id, :address_display) %>
    </div><br>

    <!--新しいお届け先を追加する場合-->
    <div>
      <%= f.radio_button :address_number, 3 %>
      <%= f.label :address_number_3, "新しいお届け先" %><br>

      <%= f.label :post_code, "郵便番号" %>
      <%= f.text_field :post_code %><br>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %><br>
      <%= f.label :customer_name, "宛名" %>
      <%= f.text_field :customer_name %><br>
    </div>

    <!-- 選んでもらったデータを送る -->
      <%= f.submit "確認画面へ進む" %>
    <% end %>
  </div>
</div>