<!-- @order でラジオボタンを使って情報を送る -->
<%= form_with model: @order, url: order_check_path, local: true do |f| %>

<h3>支払方法</h3>
<!-- クレジットカードで支払う場合 -->
<div>
  <%= f.radio_button :payment_method, 1 %> <!-- payment_method と定義して1～2の番号を check に送ります -->
  <%= f.label :payment_method_1, "クレジットカード" %>
</div>
<!-- 銀行振込の場合 -->
<div>
  <%= f.radio_button :payment_method, 2 %>
  <%= f.label :payment_method_2, "銀行振込" %>
</div>

<h3>お届け先</h3>

<!-- 顧客の住所の場合 -->

<!--登録済みの住所から選ぶ場合-->

<!--新しいお届け先を追加する場合-->

<!-- 選んでもらったデータを送ります -->
  <%= f.submit "確認画面へ進む" %>
<% end %>